<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/RentMyWrox.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
    </div>
    <div id="nav">
        <div id="LeftNavigation">
            <ul class="level1">
                <li><a href="~" class="level1">Home</a></li>
                <li>
                    @Html.ActionLink("Items", "", "Items", new { @class = "level1" })
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "ContactUs", "Home", new { @class = "level1" })
                </li>
                <li>
                    @Html.ActionLink("About Us", "About", "Home", new { @class = "level1" })
                </li>
            </ul>
        </div>
    </div>
    <div id="section">
        @RenderBody()
    </div>
    <div id="specialnotes">
        @RenderSection("SpecialNotes", false)
    </div>
    <div id="footer">
        footer content here
    </div>
</body>
</html>
